.navbar-custom {
    background-color: rgb(0, 29, 74);
    padding: 1em;
}

#profile-img {
    margin-top: 5em;
}

.brand-custom {
    color: rgb(255, 255, 255);
    padding: 1em;
}

.project-imgs {
    width: 200px;
    height: 200px;
    /* You can set the dimensions to whatever you want */
    object-fit: scale-down;
}

body {
    padding-bottom: 5em;
}

.custom-footer {
    background-color: rgb(0, 29, 74);
}

img {
    margin-top: 1em;
}

a {
    color: white;
}

h1,
h2,
h3 {
    color: #F0803C;
    margin-top: 1em;
}

body {
    background-color: FBF7F4;
}

p {
    margin-top: 0.5em;
    color: #080708;
}

.icons {
    color: unset
}